.submit-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-avatar.active {
    background-color: #008bff;
}

.submit-quiz > .ant-btn {
  min-width: 180px;
  height: 40px;
  color: #008bff;
  border-color: #008bff;
}

.submit-quiz > .ant-btn:hover {
    color: #fff;
    background-color: #008bff;
}

.ant-list-items .ant-list-item-meta {
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.wrapper-content {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .wrapper-content {
    width: fit-content;
    min-width: 480px;
  }  
}