.root {
    display: flex;
    height: 100vh;
}

.logoTitle {
    font-size: 20px;
    margin: 0;
    padding-top: 4px;
    text-align: center;
}

.logoTop {
    fill: "#0d6efd";
    height: 30px;
    width: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    position: absolute;
    top: 3%;
    left: 3%;
}

.leftSection {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection {
    flex: 5;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    height: 45px;
    width: 45px;
    vertical-align: baseline;
}

.backgroundTitle {
    margin: 0;
    text-align: center;
    padding-top: 4px;
}