.card-wrapper {
  box-shadow: 2px 2px 2px 2px #888;
}

.form-group {
  margin-top: 3em;
}

.form-title {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}

.logo {
  text-align: center;
  margin-bottom: 8px;
}

.logo .ant-image {
  width: 64px;
  height: 64px;
}
